@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
}

strong{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: normal;
}

figure img{
    height: 53px;
}

header ion-icon{
    width: 42px;
    height: 42px;
}



.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
.icon-header,
.logo{
    margin: 0 25px;
}
/* Tipos de mensagens */
.style-all-message{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    margin-bottom: 5px;
    overflow-wrap: break-word;
}
.status-message{
    background-color: #DCDCDC;
}
.normal-message{
    background-color: #FFFFFF;
}
.private_message-message{
    background-color: #FFDEDE;
}
.mensagem{
    margin: 10px;
}
span{
    color: gray;
}
/* Fim dos tipos de mensagens */

.content{
    background-color: #F3F3F3;
}

/* barra fixa de mandar msg */

.fixed-send-message{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
}
textarea{
    height: 50%;
    margin: 0 25px;
    border: none;
    font-style: italic;
    font-size: 18px;
}
.icon-send-message{
    margin: 0 25px;
    height: 26px;
    width: 26px;
}

.suma{
    display: none;
}
.form-user-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.user-name{
    width: 261px;
    height: 58px;
    text-align:center;
    border-radius: 5px;
    border: 1px solid #D7D7D7;
    font-size: 18px;
    margin: 50px 0px 10px 0px;
    /* color: #AEAEAE; */
}

button{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    border: none;
    border-radius: 9px;
    background-color: #E7E7E7;
    color: #696969;
    height: 45px;
    width: 109px;
}

.logo-form{
    height: 92px; 
}
/* Side-bar + Darkness */
.pretona{
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color:rgba(0, 0, 0, 0.6);
    z-index: 1;
}
.section-p {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: normal;
}

.side-bar{
    margin: 0 0 0 32%;
    background-color: #FFFFFF;
    width: 68%;
    height: 100%;
}

.alinhamento{
    padding-top: 25px;
    margin: 0 auto;
    width: 70%;
    text-align: center;
}
ul{
    margin-top: 15px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    /* background-color: blue; */
}

li{
    overflow-wrap: break-word;
}

li ion-icon{
    height: 25px;
    margin: 0 10px;
    vertical-align: middle
}

.linha.selecionada .check.desaparecido{
    opacity: 1;
}

.linha .check{
    align-items: center;
    height: 25px;
    margin: 0 10px;
    vertical-align: middle;
    color: #28BB25;
    --ionicon-stroke-width: 125px;
    opacity: 0;
}
